<h1 class="page-header">
  Rulebook
  <% if user_signed_in? %>
    <small>version <%= @rulebook.major_version %>-<%= @rulebook.minor_version %></small>
    <a class="btn btn-default pull-right" href="<%= edit_rulebook_path(@rulebook) %>">Edit</a>
  <% end %>
</h1>
<%== @markdown_text %>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_rulebook_path(@rulebook) %>
<% end %>

