<p id="notice"><%= notice %></p>

<h1>Rulebooks</h1>

<table>
  <thead>
    <tr>
      <th>Major version</th>
      <th>Minor version</th>
      <th>Markdown text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rulebooks.each do |rulebook| %>
      <tr>
        <td><%= rulebook.major_version %></td>
        <td><%= rulebook.minor_version %></td>
        <td><%= rulebook.markdown_text %></td>
        <td><%= link_to 'Show', rulebook %></td>
        <td><%= link_to 'Edit', edit_rulebook_path(rulebook) %></td>
        <td><%= link_to 'Destroy', rulebook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rulebook', new_rulebook_path %>
