<p id="notice"><%= notice %></p>

<h1>Rulebooks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Version</th>
      <th>Character Count</th>
      <th>Last Updated At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rulebooks.each do |rulebook| %>
      <tr>
        <td><%= rulebook.id %></td>
        <td><%= rulebook.markdown_text.length %></td>
        <td><%= rulebook.updated_at.strftime("%F") %></td>
        <td><%= link_to 'Show', rulebook %></td>
        <td><%= link_to 'Edit', edit_rulebook_path(rulebook) %></td>
        <td><%= link_to 'Destroy', rulebook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rulebook', new_rulebook_path %>
